.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $surface-color;
  color: $brand-peach;
}

.App-header {
  background-color: $surface-2;
  height: $app-header-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  padding: 1rem;
}

.App-body {
  height: 100%;
  padding: 1rem;
}

.App-nav-item {
  color: $brand-plum;
  text-decoration: none;
  background: transparent;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
